header {text-align: center;
             padding-top: 20px;
             padding-bottom: 30px;
             background-color: #4682B4;}
     article {text-align: center;}
     footer {text-align: center;
             padding-top: 10px;
             padding-bottom: 8px;
             background-color: #4682B4;}
     body {background-image: url(http://38.media.tumblr.com/33b269f01dc188d6cddd39887b486b59/tumblr_inline_mkjkxoxwl51qz4rgp.jpg);}
